.resume {
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 65%;
  border: 2px solid black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  background: #111;
  color: white;
  padding: 40px 25px;
}
.content {
  padding: 40px;
}
.work #time1 {
  margin-left: 55px;
  font-style: italic;
  color: #c89d3d;
}
.work #time2 {
  margin-left: 125px;
  font-style: italic;
  color: #c89d3d;
}
.edu #time3 {
  margin-left: 190px;
  font-style: italic;
  color: #c89d3d;
}
.edu #time4 {
  margin-left: 130px;
  font-style: italic;
  color: #c89d3d;
}
article {
  margin-bottom: 25px;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
hr {
  border: 1px solid #c89d3d;
  margin: 10px 0 20px;
}
.resume blockquote {
  text-align: center;
  font-style: italic;
}
.resume footer #sigadd {
  font-style: italic;
}
.resume footer #signame {
  text-align: right;
}
